.f1{
    font-family: 'Courgette', cursive;
}

.f2{
    font-family: 'Pacifico', cursive;
}

.f3{
    font-family: 'Dancing Script', cursive;
}

.f4{
    font-family: 'Gloria Hallelujah', cursive;
}

.f5{
    
}